#currencyInfo {
  margin-left: 20%;
}

#currencyShow {
  margin: 30px;
  
}

/* still woorking on it */
/* body {
  background-image: url("../img/currency-image.jpg");
  background-repeat: repeat; 
  background-position: 0ex;
  background-attachment: fixed;
} 

h1 {
  text-align: center;
  color: yellow;
  margin-top: 20px;
  font-size: 50px;
}
.row {
  color: gold;
  font-size: 20px;
} */
